
<div class="container">
<hr>
<hr>

<h2 class="">Hello {{name}} ,Thank you  for your sign up.</h2>
<h3  class="">You can now login with your credentials  </h3>

<hr>

	
	<hr>


<a href="/login"><h3 style="color:rgb(10, 170, 82); text-align: center; text-emphasis: shadow 3px;">Click here to login your credentials </h3> 
</a>

 </div>