


{{!-- user name --}}


<div class="container">
  <div class="row">
    <div class="col-sm-3 bg-white">
      <p></p>
      <a href="/home/transactions"> <button type="button" class="btn btn-success">Transactions</button></a>
    </div>
    <div class="col-sm-3 bg-white">
     <p></p>
      <a href="/payment"> <button type="button" class="btn btn-success">Pay now</button></a>
    </div>
     <div class="col-sm-3 bg-white">
     <p></p>
      <a href="/history"> <button type="button" class="btn btn-success">History</button></a>
    </div>
    <div class="col-sm-3 bg-white">
    <p></p>
      <a href="/profile"> <button type="button" class="btn btn-success">Profile</button></a>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br>


