
    <div class=" container bg-dark">
    <form name="form1" method="post" >
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="KTCKuT0A+fJ3gUEXMuxTA0hbdXi2JXko3g8WuLy7NYNSaF8X5++6F0CrcX6j61vuhCL6XnYPJNCt1q7WzeW87xGcHq0xVdV6Ds7xE4+HVag=" />
</div>


         <table cellpadding="0" cellspacing="0" border="1" bordercolor="#aaaaaa" bgcolor="white" width="60%" height="80%" align="center">
                <tr width="100%">
                    <td width="100%">
                        <table cellpadding="0" cellspacing="0" border="0" bgcolor="white" width="100%" height="100%" align="center">
                            <tr height="1px">
                                <td width="15%">&nbsp;</td>
                                <td width="25%">&nbsp;</td>
                                <td width="20%">&nbsp;</td>
                                <td width="20%">&nbsp;</td>
                                <td width="20%">&nbsp;</td>
                            </tr>
                            <tr height="100px">
                                <td width="15%">&nbsp;</td>
                                <td width="25%" colspan="3"><span style="color:#1bc537; font-size:30px">Torama Pay</span><br><span style="color:orange">Torama Online Payment Interface</span></td>
                                <td width="20%"><img src="./Images/gtb-logo3.png"></td>
                            </tr>
                           
                            <tr height="40px">
                                <td>&nbsp;</td>
                                <td><font color="red">*</font>  <font color="#555555"></font>Required Fields</font></td>
                                <td colspan="3" style="color: #110077"></td>
                            </tr><font color="5555ff">
                            <tr height="40px">
                                <td>&nbsp;</td>
                                <td colspan="3">
								</td>                                
                            </tr>
                            <tr height="40px">
                                <td>&nbsp;</td>
                                
                            </tr>
                           
                            <tr height="25px">
                                <td>&nbsp;</td>
                                <td>Transaction Amount:</td>
                                <td colspan="3" style="color: #110077">
                                    <input name="txtTransAmount" type="text" id="txtTransAmount" />
                                 </td>
                            </tr>
                            
                          
                           
                              <tr height="25px">
                                <td>&nbsp;</td>
                                <td><font color="red">*</font>Customer Name</td>
                                <td colspan="3" style="color: #110077">
                                    <input name="txtCustomerName" type="text" id="txtCustomerName" />
                                  </td>
                            </tr>
                            <tr height="25px">
                                <td>&nbsp;</td>
                                <td>Transaction Memo:</td>
                               
                            </tr>
                          
                            
                           
                            <tr height="25px">
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td colspan="3" style="color: #110077">
                                    <input type="submit" name="btnRequest" value="Place Order" id="btnRequest" />
                                    <br></td>
                            </tr>
                            <tr height="5px">
                                <td>&nbsp;</td>
                                <td colspan="4">...............................<input type="hidden" name="HiddenField1" id="HiddenField1" />
                                    .............................................................................................</td>
                            </tr>
                          
                            <tr height="5px">
                                <td>&nbsp;</td>
                                <td colspan="4">............................................................................................................................</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
    </form>
    </div>



    {{!-- old form below  --}}

<form name="submit2gtpay_form" action="https://ibank.gtbank.com/GTPay/Tranx.aspx" target="_self" 
             name="request0" method="post">
<input type="hidden" name="gtpay_mert_id" value="17" />
<input type="hidden" name="gtpay_tranx_id" value="1111138448383838" />
<input type="hidden" name="gtpay_tranx_amt" value="500000" />
<input type="hidden" name="gtpay_tranx_curr" value="566" />
<input type="" name="gtpay_cust_id" value="458742" />
<input type="" name="gtpay_cust_name" value="Test Customer" />
<input type="" name="gtpay_tranx_memo" value="Mobow" />
<input type="" name="gtpay_no_show_gtbank" value="yes" />
<input type="" name="gtpay_echo_data" value="TEST" />
<input type="" name="gtpay_gway_name" value="" />
<input type="hidden" name="gtpay_hash" value="D3D1D05AFE42AD50818167EAC73C109168A0F108F32645C8B59E897FA930DA44F9230910DAC9E20641823799A107A02068F7BC0F4CC41D2952E249552255710F" />
<input type="" name="gtpay_tranx_noti_url" value="" />
<input type="" value="Pay Via GTPay" name="btnSubmit"/>
<input type="" name="gtpay_echo_data" value="DEQFOOIPP0;REG13762;John Adebisi: 2nd term school and accomodation fees;XNFYGHT325541;1209">
</form>

