
<div class="container">
  <div class="row">
    <div class="col-sm-3 bg-white">
      <p></p>
      <a href="/home/transactions"> <button type="button" class="btn btn-success">Transactions</button></a>
    </div>
    <div class="col-sm-3 bg-white">
     <p></p>
      <a href="/payment"> <button type="button" class="btn btn-success">Pay now</button></a>
    </div>
     <div class="col-sm-3 bg-white">
     <p></p>
      <a href="/history"> <button type="button" class="btn btn-success">History</button></a>
    </div>
    <div class="col-sm-3 bg-white">
    <p></p>
      <a href="/profile"> <button type="button" class="btn btn-success">Profile</button></a>
    </div>
  </div>
</div>


{{!-- each user details --}}

<div class="container bg-secondary" >
  <h2 class="text-white">Profile</h2>
  <div class="card">
    <div class="card-body">Fullname : {{my_fullname}} </div>
  </div>
   <div class="card">
    <div class="card-body">Email : {{my_email}} </div>
  </div>
  <div class="card">
    <div class="card-body">Id : {{my_id}} </div>
  </div>
  <div class="card">
    <div class="card-body">Username : {{my_username}} </div>
  </div>
 
</div>

